*				{ margin: 0; padding: 0; }
body			{font: 16px Georgia, serif; }
#page-wrap		{margin: 2% auto; color: whilte; }
#page-wrap		{margin: 2% auto; color: whilte; }
nav span			{ margin: 0px 10px 0px 0px; }