<h2>Login</h2>

<form method='post' action='/login'>
	
	<div class='field>
		<label for='login'>Login:</label><p>
		<input type='text' id='login' name='login' sizae='30'>
	</div>

	<div class='field>
		<label for='password'>Password:</label><p>
		<input type='text' id='password' name='password' sizae='30'>
	</div>
	
	<div class='actions'>
		<input name='commit' type='submit' value='Login'>
	</div>
</form>